<!DOCTYPE html>
<html>
<head>
    <title>Form Matakuliah</title>
</head>
<body>
    <h1>Form Matakuliah</h1>
    <form method="POST">
        <label>Kode:</label><br>
        <input type="text" name="kode" value="{{ matakuliah.kode if matakuliah else '' }}"><br><br>

        <label>Nama:</label><br>
        <input type="text" name="nama" value="{{ matakuliah.nama if matakuliah else '' }}"><br><br>

        <label>SKS:</label><br>
        <input type="number" name="sks" value="{{ matakuliah.sks if matakuliah else '' }}"><br><br>

        <input type="submit" value="Simpan">
    </form>

    <p><a href="{{ request.route_url('get_matakuliah') }}">Kembali ke Daftar</a></p>
</body>
</html>
