<!DOCTYPE html>
<html>
<head>
    <title>Manajemen Matakuliah</title>
</head>
<body>
    <h1>Selamat datang di Sistem Manajemen Matakuliah</h1>
    <p><a href="{{ request.route_url('get_matakuliah') }}">Lihat Daftar Matakuliah</a></p>
</body>
</html>
